:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --primary-color: #0d6efd;
  }
  
  .mode-sombre {
    /* Fond très foncé mais non noir pour le mode sombre */
    --bg-color: #1a1a1a;
    --text-color: #e0e0e0;
    --primary-color: #bb86fc;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }

/* Couleur du texte pour les informations de matériel */
.table-materiel th,
.table-materiel td {
  color: #000;
}

body.mode-sombre .table-materiel th,
body.mode-sombre .table-materiel td {
  color: #000000;
}


body.mode-sombre thead th {
    background-color: #2c2c2c !important;
    color: #ffffff;
  }

  body.mode-sombre th,
  body.mode-sombre td {
    color: var(--text-color);
  }
  
  /* Ajoute d'autres styles personnalisés ici si nécessaire */
